/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignorar carpetas de imágenes subidas por usuarios
/public/imagenes/perfil/
/public/imagenes/productos/
/public/imagenes/subcategorias/
/public/imagenes/almuerzo/
/public/imagenes/galeria/
/public/logs.txt
/public/logsAdmin.txt
